__pycache__/
__pycache__/*.py[cod]
*.py[cod]
*.pyo               
.env/
*.env

venv.zip/
# Ignore Tailwind CLI binary
app/tailwind-bin/tailwindcss
# Ignore Tailwind CLI binary
app/tailwind-bin/tailwindcss
uploads/